 .container {
            display: flex;
            align-items: center; /* Centra verticalmente el contenido */
            justify-content: space-between; /* Asegura espacio entre los elementos */
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .text {
            flex: 1; /* El texto ocupa 1 parte proporcional del espacio */
            margin-right: 20px;
            line-height: 1.8; /* Espaciado entre líneas */
            font-size: 25px;
            text-align: justify;
            font-family:'Times New Roman';
        }

        .image-container {
            flex: 1; /* La imagen ocupa 1 parte proporcional del espacio */
            display: flex;
            justify-content: center; /* Centra horizontalmente la imagen */
            align-items: center; /* Centra verticalmente la imagen */
        }

        .image-container img {
            height: auto; /* Mantiene las proporciones */
            border:; /* Borde alrededor de la imagen */
            border-radius:; /* Bordes redondeados */
        }

        /* ----------------------------------------------------------------------------------- */

        .container2 {
            display: flex;
            align-items: center; /* Centra verticalmente el contenido */
            justify-content: space-between; /* Asegura espacio entre los elementos */
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .text2 {
            flex: 1; /* El texto ocupa 1 parte proporcional del espacio */
            margin-right: 20px;
            line-height: 1.8; /* Espaciado entre líneas */
            font-size: 25px;
            text-align: justify;
            font-family:'Times New Roman';
        }

        .image-container2 {
            flex: 1; /* La imagen ocupa 1 parte proporcional del espacio */
            display: flex;
            justify-content: center; /* Centra horizontalmente la imagen */
            align-items: center; /* Centra verticalmente la imagen */
        }

        .image-container2 img {
            max-width: 100%; /* Ajusta la imagen al ancho disponible */
            height: auto; /* Mantiene las proporciones */
            border:; /* Borde alrededor de la imagen */
            border-radius:; /* Bordes redondeados */
        }




        .container3 {
            display: flex;
            align-items: center; /* Centra verticalmente el contenido */
            justify-content: space-between; /* Asegura espacio entre los elementos */
            padding-left: 30px;
            padding-right: 30px;
            max-width: 1200px;
            margin: 0 auto;
        }












        .container4 {
            background-color: black;
            color: white;
            display: flex;
            align-items: center; /* Centra verticalmente el contenido */
            justify-content: space-between; /* Asegura espacio entre los elementos */
            margin: 0 auto;
        }

        .text4 {
            flex: 1; /* El texto ocupa 1 parte proporcional del espacio */
            margin-right: 20px;
            line-height: 1.8; /* Espaciado entre líneas */
            font-size: 15px;
            text-align: center;
            font-family:'Times New Roman';
            
        }

        .divider {
            flex:0;
            width: 5px; /* Grosor de la línea */
            background-color: white; /* Color blanco */
            height: auto; /* Se ajusta al contenido */
            color: white;
        }